# 1)	Faça um algoritmo que trate os dados em um pré-processamento e realize três modelos de regressão linear. Ao final deve apresentar as métricas de erro com o melhor resultado possível. Dica: Target = consume, arquivo = measurements.csv

In [148]:
import pandas as pd
import matplotlib.pyplot as plt
from  sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier


df = pd.read_csv("measurements.csv")
df = df.iloc[:,:-2]
df = df.drop(columns="specials",axis=1)
df = df.dropna()
df

    distance consume  speed temp_inside  temp_outside gas_type  AC  rain  sun
0         28       5     26        21,5            12      E10   0     0    0
1         12     4,2     30        21,5            13      E10   0     0    0
2       11,2     5,5     38        21,5            15      E10   0     0    0
3       12,9     3,9     36        21,5            14      E10   0     0    0
4       18,5     4,5     46        21,5            15      E10   0     0    0
..       ...     ...    ...         ...           ...      ...  ..   ...  ...
383       16     3,7     39        24,5            18     SP98   0     0    0
384     16,1     4,3     38          25            31     SP98   1     0    0
385       16     3,8     45          25            19     SP98   0     0    0
386     15,4     4,6     42          25            31     SP98   1     0    0
387     14,7       5     25          25            30     SP98   1     0    0

[376 rows x 9 columns]

In [149]:

encoder  = LabelEncoder()
df["gas_type"] = encoder.fit_transform(df["gas_type"])
df[170:190]

df.dtypes

distance        object
consume         object
speed            int64
temp_inside     object
temp_outside     int64
gas_type         int32
AC               int64
rain             int64
sun              int64
dtype: object

In [150]:
LABELS = df.columns
print(f"Colunas :{LABELS}")
for col in LABELS:
    if df[col].dtype == 'object' or df[col].dtype == 'O':
        df[col] = [i.replace(',','.') for i in df[col]]

df.head(5)

        

x = df[["distance","speed","temp_inside","temp_outside","gas_type","AC","rain","sun"]]
y = df["consume"]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20,random_state=42)

df.head(5)

Colunas :Index(['distance', 'consume', 'speed', 'temp_inside', 'temp_outside',
       'gas_type', 'AC', 'rain', 'sun'],
      dtype='object')

  distance consume  speed temp_inside  temp_outside  gas_type  AC  rain  sun
0       28       5     26        21.5            12         0   0     0    0
1       12     4.2     30        21.5            13         0   0     0    0
2     11.2     5.5     38        21.5            15         0   0     0    0
3     12.9     3.9     36        21.5            14         0   0     0    0
4     18.5     4.5     46        21.5            15         0   0     0    0

# Regressão Linear

In [151]:
reg = LinearRegression()
reg.fit(x_train,y_train)

print(f"{'='*20} Regressão Linear {'='*20}")
print(f"Score : {reg.score(x_test,y_test)}")
print(f"Erro absoluto médio: {mean_absolute_error(y_test,reg.predict(x_test))} ")

==================== Regressão Linear ====================
Score : 0.20347449649547378
Erro absoluto médio: 0.6086802540587285

# Random Forest

In [152]:
rf = RandomForestRegressor(n_estimators=5, random_state=42)
rf.fit(x_train,y_train)

print(f"{'='*20} Random Forest {'='*20}")
print(f"Score : {rf.score(x_test,y_test)}")
print(f"Erro absoluto médio: {mean_absolute_error(y_test,rf.predict(x_test))} ")

==================== Random Forest ====================
Score : 0.589092995118695
Erro absoluto médio: 0.4384210526315789

# Decision Tree

In [155]:
dtree = DecisionTreeClassifier()
dtree.fit(x_train,y_train)

print(f"{'='*20} Decision Tree {'='*20}")
print(f"Score : {dtree.score(x_test,y_test)}")
print(f"Erro absoluto médio: {mean_absolute_error(y_test,dtree.predict(x_test))} ")

==================== Decision Tree ====================
Score : 0.09210526315789473
Erro absoluto médio: 0.5776315789473685