In [9]:
import pandas as pd
titanic =  pd.read_csv("materiais/dados/train.csv")

In [12]:
def calculate_percentage(val, total):
    """Calculates the percentage of a value over a total"""

    percent = float(val / total)
    beautiful_percent = ("%.2f" % (percent * 100) + "%")
    return beautiful_percent

In [10]:
total = titanic.Survived.count()
qtd_mortos =  titanic.Survived[titanic["Survived"]==0].count()
qtd_sobreviveram = titanic.Survived[titanic["Survived"]==1].count()

In [13]:
print(calculate_percentage(qtd_mortos,total))
print(calculate_percentage(qtd_sobreviveram,total))

61.62%
38.38%

In [17]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Dados sobre os mortos, se possuem familia ou não

In [75]:
mortos_com_familia = titanic.Survived[(titanic["Survived"] == 0) & (titanic["SibSp"]> 0)].count()
mortos_com_familia

151

In [79]:
mortos_sem_familia = titanic.Survived[(titanic["Survived"] == 0) & (titanic["SibSp"] == 0)].count()
mortos_sem_familia

398

In [82]:
print(f'Mortos com familiar : {calculate_percentage(mortos_com_familia,total)}')
print(f'Mortos Sem familia : {calculate_percentage(mortos_sem_familia,total)}')

Mortos com familiar : 16.95%
Mortos Sem familia : 44.67%

In [85]:
#agora os dados com as pessoas que ficaram vivas,se tem familia ou não
vivos_com_familia = titanic.Survived[(titanic["Survived"] == 1) & (titanic["SibSp"] > 0)].count()
vivos_sem_familia = titanic.Survived[(titanic["Survived"] == 1) & (titanic["SibSp"] == 0)].count()
print(f'Sobreviventes com familia: {vivos_com_familia}')
print(f'Sobrevivente sem familia {vivos_sem_familia}')

Sobreviventes com familia: 132
Sobrevivente sem familia 210

In [89]:
# Porcentagem de mortes de cada sexo em relação ao total
male = titanic.Survived[(titanic["Survived"] ==0 ) & (titanic["Sex"] == "male")].count()
female = titanic.Survived[(titanic["Survived"] == 0 ) & (titanic["Sex"] == "female")].count()
print(f'Homens mortos: {calculate_percentage(male,total)}')
print(f'Mulheres mortas: {calculate_percentage(female,total)}')

Homens mortos: 52.53%
Mulheres mortas: 9.09%

In [90]:
#porcentagem de vivo em cada sexo em relação ao total
male_alive = titanic.Survived[(titanic["Survived"] ==1 ) & (titanic["Sex"] == "male")].count()
female_alive= titanic.Survived[(titanic["Survived"] == 1 ) & (titanic["Sex"] == "female")].count()
print(f'Homens mortos: {calculate_percentage(male_alive,total)}')
print(f'Mulheres mortas: {calculate_percentage(female_alive,total)}')

Homens mortos: 12.23%
Mulheres mortas: 26.15%

# Vivos e Mortos de cada classe de cabine

In [99]:
first = titanic[(titanic["Pclass"]==1)]
second = titanic[(titanic["Pclass"]==2)]
third = titanic[(titanic["Pclass"]==3)]

In [104]:
dead_first = first.Survived[(first["Survived"] == 0)].count()
dead_second = second.Survived[(second["Survived"] == 0)].count()
dead_third = third.Survived[(third["Survived"] == 0)].count()

In [105]:
print(f'Mortos da primeira classe {calculate_percentage(dead_first,total)}')
print(f'Mortos da segunda classe {calculate_percentage(dead_second,total)}')
print(f'Mortos da terceira classe {calculate_percentage(dead_third,total)}')

Mortos da primeira classe 8.98%
Mortos da segunda classe 10.89%
Mortos da terceira classe 41.75%

In [109]:
#vivos
alive_first = first.Survived[(first["Survived"]== 1)].count()
alive_second = second.Survived[second["Survived"] == 1].count()
alive_third = third.Survived[third["Survived"] == 1].count()

In [108]:
print(f'Vivos da primeira classe {calculate_percentage( alive_first,total)}')
print(f'Vivos da primeira classe {calculate_percentage( alive_second,total)}')
print(f'Vivos da primeira classe {calculate_percentage( alive_third,total)}')

Vivos da primeira classe 15.26%
Vivos da primeira classe 9.76%
Vivos da primeira classe 13.36%

# relação entre a taxa de sobrevivência e a idade?

In [112]:
def faixa_etaria(linhas):
    idade = linhas["Age"]
    if idade < 12:
        return "criança"
    elif idade >= 12 and idade < 18:
        return "adolescente"
    elif idade >= 18 and idade <65:
        return "adulto"
    elif idade >= 65:
        return "idoso"


titanic["faixa_etaria"] = titanic.apply(faixa_etaria,axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,faixa_etaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,adulto
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,adulto

In [113]:
mortos = titanic[titanic["Survived"] == 0]
vivos = titanic[titanic["Survived"] == 1]