In [3]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot   as plt
from sklearn.model_selection import train_test_split

df = pd.read_csv("segmentation data.csv")
df.head(5)

,ID,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
0,100000001,0,0,67,2,124670,1,2
1,100000002,1,1,22,1,150773,1,2
2,100000003,0,0,49,1,89210,0,0
3,100000004,0,0,45,1,171565,1,1
4,100000005,0,0,53,1,149031,1,1

In [4]:
from sklearn.metrics import accuracy_score



def Make_Clusters(k):
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(x,y)
    plt.scatter(x=x_train,y=y_train,marker= 'o')
    plt.show()
    print(f"Metricas para {k} clusters para o Data Set de Treino")

Make_Clusters(1)

NameError: name 'X' is not defined